/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

/*values are declared here - these are the colors for our card.*/
:root {
 --darkCyan: #3c8067;
 --darkerCyan: #214538;
 --cream: #f2ebe3;
 --darkBlue: #1c232b;
 --darkGray: #6c7289;
 --white: #ffffff;
}

/*genetic styles for the card*/
*{
    margin:0;
    padding:0;
}

body {
    background-color: var(--cream);
    font-family: 'montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.card {
    display:flex;
    flex-direction: column;
    width: 22em;
    background-color: var(--white);
    border-radius: 0.75em;
}

.header-img {
    height: 15em;
    background: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 12px 12px 0 0;
}

.container {
    padding: 0 1.5em;
}

.sub-heading {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;
    padding: 1.5em 0 0.75em 0;
    color: var(--darkGray);
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Fraunces', serif;
    color: var(--darkBlue);
}

.content {
    font-size: 0.8rem;
    padding: 1em 0;
    color: var(--darkGray);
    line-height: 1.75em;
    font-weight: 500;
}

.prices {
    height: 3em;
    padding: 0.75em 0;
    display: flex;
    justify-content: start;
    align-items: end;
}

.new-price {
    font-size: 2rem;
    color: var(--darkCyan);
    font-family: 'Fraunces', serif;
}

.old-price {
    font-size: 0.9rem;
    margin: 0 0 0.8em 2em;
    text-decoration: line-through;
    color: var(--darkGray);
}

.btn {
    font-size: 0.9rem;
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
    padding: 1em;
    border-radius: 0.75em;
    color: var(--white);
    background-color: var(--darkCyan);
    font-weight: 700
}

.btn:hover {
    background-color: var(--darkerCyan);
}

.icon {
    margin: 0 1em 0 0;
}

/*footer section*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--darkCyan);
    text-decoration: none;
}

/*responsive site*/
@media  only screen and ( min-width: 800px){

    .card{
        width: 36em;
        flex-direction: row;
    }

    .header-img{
        background: url(images/image-product-desktop.jpg);
        border-radius: 0.5em 0 0 0.5em; /*8/16=0.5*/
        background-size: cover;
        width: 55%;
        height: 27em;
    }
    .container{
        width: 45%;
    }

}
